<% if event.date != @last_midnight %>
  <% @last_midnight = event.date %>
  <% @last_project_path = event.project_path %>
  <div class="events-date" data-date="<%= event.date %>">
    <%= event.daystamps %>：
  </div>
  <div class="events-project" data-project-path="<%= event.project_path %>">
    <%= link_to event.project_name, event.project_path %>：
  </div>
<% elsif event.project_path != @last_project_path %>
  <% @last_project_path = event.project_path %>
  <div class="events-project" data-project-path="<%= event.project_path %>">
    <%= link_to event.project_name, event.project_path %>：
  </div>
<% end %>
<div id=<%= dom_id(event) %>>
  <p>
    <%= event.generated_at %>
    <span class="userName"><%= link_to event.user_name, event.user_path %></span>
    <span class="opration"><%= event.description %>：</span>
    <span class="resource"><%= link_to event.resource_name, event.resource_path %></span>
  </p>
<% if event.subresource %>
  <p>
    <%= link_to event.subresource, event.subresource_path %>
  </p>
<% end %>
</div>
<hr>
