<h1>动态</h1>
<div class="events">
  <% last_midnight = 2.days.from_now %>
  <% last_project_path = '' %>
  <% @events.each do |event| %>
    <% if event.created_at.midnight != last_midnight %>
      <% last_midnight = event.created_at.midnight %>
    <div class="events-day-title">
      <%= event.daystamps %>：
    </div>
    <% end %>
    <% if event.project_path != last_project_path %>
      <% last_project_path = event.project_path %>
      <div class="events-project">
        <%= link_to event.project_name, event.project_path %>：
      </div>
    <% end %>
    <div id=<%= dom_id(event) %>>
      <p>
        <%= event.generated_at %>
        <span class="userName"><%= link_to event.user_name, event.user_path %></span>
        <span class="opration"><%= event.description %>：</span>
        <span class="resource"><%= link_to event.resource_name, event.resource_path %></span>
      </p>
    <% if event.subresource %>
      <p>
        <%= link_to event.subresource, event.subresource_path %>
      </p>
    <% end %>
    </div>
    <hr>
  <% end %>
</div>
